*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -2;
}

.header {
    /* border: 1px solid white; */
    font-size: 200px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

